
<!--SLIDE-->
<div id="slide">

  <ul style="background-image:url(./assets/img/slide01.png); background-size: 100% 100%;" >
    <li>
      <input type="radio" id="boton-1" name="in">
      <label for="boton-1"></label>
      <img src="./assets/img/slide02.png" width="100%" id="foto01">
      </li>

      <li>
      <input type="radio" id="boton-2" name="in">
      <label for="boton-2"></label>
      <img src="./assets/img/slide01.png" width="100%" id="foto02">
      </li>

      <li>
      <input type="radio" id="boton-3" name="in">
      <label for="boton-3"></label>
      <img src="./assets/img/slide03.png" width="100%" id="foto03">
      </li>

      <li>
      <input type="radio" id="boton-4" name="in">
      <label for="boton-4"></label>
      <img src="./assets/img/slide04.png" width="100%" id="foto04">
      </li>

      <li>
      <input type="radio" id="boton-5" name="in">
      <label for="boton-5"></label>
      <img src="./assets/img/slide05.png" width="100%" id="foto05">
      </li>
  </ul>

</div>
<!--FIN SLIDE-->

<!--BOTONERA SLIDE-->
<div id="botoneraSlide" style="	background:url(./assets/img/backBotonesSlide.jpg);">

</div>
<!--FIN BOTONERA SLIDE-->
<img src="./assets/img/Captura de pantalla 2024-02-22 163519.png" width="100%" id="foto03">
